body {
  height: 100vh;

  nav {
    &.texto-preto {
      background-color: white;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      .custom-toggler.navbar-toggler {
        border: 2px solid black;
      }
      .custom-toggler {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }
      .navbar-nav {
        transition: 1s;
        font-weight: 700;
        text-transform: uppercase;
        .nav-link {
          color: black;
          &.active{
            color: #8bc34a;
          }
          /* background-color: #fff; */
        }
      }
    }
    .container {
      .navbar-brand {
        img {
          height: 100%;
        }
      }
    }
  }
  /*  #mainNav.navbar-scrolled {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        color: black;
        /* background-color: #fff; 
        transition: 1s;*/

  section {
    height: 100vh;
    padding-top: 130px;
    scroll-behavior: smooth;
    @include make-container();
    padding: auto 50px;
    .conteudo {
      padding: 15px;
      margin-right: 0;
      margin-left: 0;
      @include make-row();
      .servico-box {
        text-align: center;
        @include media-breakpoint-up(xs) {
          @include make-col(6);
          .text-primary {
            font-size: 2rem;
          }
          h3 {
            font-size: 0.8rem;
          }
        }
        @include media-breakpoint-up(sm) {
          @include make-col(6);
          .text-primary {
            font-size: 2.2rem;
          }
          h3 {
            font-size: 1rem;
          }
        }
        @include media-breakpoint-up(md) {
          @include make-col(6);
          .text-primary {
            font-size: 4rem;
          }
          h3 {
            font-size: 1.25rem;
          }
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
          .text-primary {
            font-size: 4rem;
          }
          h3 {
            font-size: 1.75rem;
          }
        }
        transition: 0.4s;
        &:hover {
          background-color: $bg-green;
          color: white;
          transition: 0.4s;
          .text-primary {
            &:before {
              color: white;
            }
          }
        }
      }
    }
    /* overflow-y: scroll; */
    &#principal {
      background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0, rgba(92, 77, 66, 0.8) 100%), url(../img/0062.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      min-height: 40rem;
      @include make-container();
      .conteudo {
        @include make-row();
        &-titulo {
          @include make-col(12);
          text-align: center;
          color: $bg-green;
        }
        .servico {
          margin-top: 20px;
          background-color: white;
          text-align: center;

          @include media-breakpoint-up(xs) {
            @include make-col(12);
          }
          @include media-breakpoint-up(sm) {
            @include make-col(12);
          }
          @include media-breakpoint-up(md) {
            @include make-col(3);
          }
          &-titulo {
            text-align: center;
          }
          &-icon {
            .fas {
              color: $bg-green;
              font-size: 5rem;
            }
          }
        }
      }
    }
    &#servicos {
    }
    &#documentos {
      background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0, rgba(92, 77, 66, 0.8) 100%),
        url(../img/documentos.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      min-height: 40rem;
      .documentos-titulo {
        text-align: center;
        color: white;
        text-transform: uppercase;
      }
      .conteudo {
        padding: -15px;
      }
    }
  }
}
