body {
  height: 80vh;

  

  /*  #mainNav.navbar-scrolled {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        color: black;
        /* background-color: #fff; 
        transition: 1s;*/

  
}