#contato {
  @include make-col(12);
  .formulario {
    @include make-col(8);
    padding: 10px;
    input {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    @include media-breakpoint-up(xs) {
      @include make-col(12);

      label {
        display: none;
      }

      span {
        display: none;
      }

    }

    @include media-breakpoint-up(sm) {
      @include make-col(12);

      label {
        display: inline-block;
      }

      span {
        display: inline-block;
      }
    }

    @include media-breakpoint-up(md) {
      @include make-col(6);
      @include make-col-offset(3);

      input::-webkit-input-placeholder {
        color: transparent;
      }
    }
  }
}