#licitacao {

    i {
      color: brown;
    }
    .conteudo {
        .servico-box {
            text-align: center;
    
            @include media-breakpoint-up(xs) {
              @include make-col(6);
    
              .text-primary {
                font-size: 2rem;
              }
    
              h3 {
                font-size: 0.8rem;
              }
            }
    
            @include media-breakpoint-up(sm) {
              @include make-col(6);
    
              .text-primary {
                font-size: 2.2rem;
              }
    
              h3 {
                font-size: 1rem;
              }
            }
    
            @include media-breakpoint-up(md) {
              @include make-col(6);
    
              .text-primary {
                font-size: 4rem;
              }
    
              h3 {
                font-size: 1.25rem;
              }
            }
    
            @include media-breakpoint-up(lg) {
              @include make-col(3);
    
              .text-primary {
                font-size: 4rem;
              }
    
              h3 {
                font-size: 1.75rem;
              }
            }
    
            transition: 0.4s;
    
            &:hover {
              background-color: $bg-green;
              color: white;
              transition: 0.4s;
    
              .text-primary {
                &:before {
                  color: white;
                }
              }
            }
          }
    }
  }