#rodape {
    @include make-container();
    min-height: 5vh !important;
    padding: 15px;
    background-color: $primary;


    @include media-breakpoint-up(sm) {
        bottom: 0;
        position: absolute;
    }

    /* margin-top: 50px;
    background-color: $primary;
    height: 10vh;
    padding-top: 0; */
    .info-texto {
        position: relative;
        bottom: 0;
        @include media-breakpoint-up(xs) {
            @include make-col(12);
            text-align: center;
            font-size: 0.8rem;
        }

        @include media-breakpoint-up(sm) {
           
        }
    }

    .info-voltar {
        @include media-breakpoint-up(xs) {
            @include make-col(12);
            text-align: right;
            line-height: 4;

            a {
                color: black;

                i {
                    font-size: 2rem;
                    margin-right: 5px;
                }
            }
        }

        @include media-breakpoint-up(sm) {
            @include make-col(6);

        }
    }
}