.cons-info {
    text-align: center;

    @include media-breakpoint-up(xs) {
        @include make-col(12);

        h5 {
            font-size: 0.9rem;
        }

        .btn {
            margin: 5px 0px;
        }
    }

    @include media-breakpoint-up(sm) {
        @include make-col(12);

        /* @include make-col-offset(1); */
        h5 {
            font-size: 1.25rem;
        }
    }

    &.fundo {
        background: #f6f6f6;
    }


}

.coluna {
    @include media-breakpoint-up(xs) {
        @include make-col(12);
        /* text-align: center; */

    }

    @include media-breakpoint-up(md) {
        @include make-col(4);
        /* @include make-col-offset(1); */

    }

    &-titulo {
        padding: 15px;
        font-weight: bold;
    }

}

.list-group {

    padding: 10px;
    li{
        border: none;
        text-align: left;
    }
    /* &-item {
        border: none;
    } */
}

.departamentos-chefia{
    @include media-breakpoint-up(xs) {
        @include make-col(12);
        text-align: center;
        img {
            height: 80%;
            width: 50%;
        }
    }

    @include media-breakpoint-up(sm) {
        @include make-col(4);
    }
}
.departamentos-info{
    text-align: justify;
    @include media-breakpoint-up(xs) {
        @include make-col(12);
        margin-top: 10px;
    }
    @include media-breakpoint-up(sm) {
        @include make-col(8);
    }
    /* @include media-breakpoint-up(md) {
        @include make-col(6);
    } */
}
.departamentos {
    
    
    
    /* &-chefia {
        @include media-breakpoint-up(xs) {
            @include make-col(12);
            text-align: center;
            img {
                height: 10%;
            }
        }

        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
    }

    &-info {
        @include media-breakpoint-up(xs) {
            @include make-col(12);
            text-align: justify;
            margin-top: 10px;
        }
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
    } */
}